:root.light,
:root {
  --bg-color-1: #f5f5f5;
  /* 基础颜色 */
  --primary-color: #1890ff;
  --background-color: #ffffff;
  --background-color-light: #f5f7fa;
  --border-color: #e4e7ed;
  
  /* 文字颜色 */
  --text-color: rgba(0,0,0,0.84);
  --text-color-secondary: rgba(0,0,0,0.5);
  
  /* 涨跌颜色 */
  /* 涨跌颜色 */
  --up-color: #FF2436;
  --down-color: #07AB4B;
  --plan-color: #858585;
}
